/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212; /* 다크모드 배경색 */
    color: #ffffff; /* 기본 텍스트 색상 */
}

.container {
    width: 450px;
    height: 750px;
    border: 1px solid #333; /* 어두운 색상 테두리 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; /* 상하단 마진을 0으로 설정 */
    background-color: #1e1e1e; /* 컨테이너 배경색 */
}

@media (max-width: 450px) {
    .container {
        width: 100%;
        height: auto;
    }

    #radarImage {
        width: 100%;
    }

    #timeSlider {
        width: 90%; /* 컨테이너 크기에 맞게 반응형 조정 */
    }

    .controls {
        width: 90%; /* 컨테이너 크기에 맞게 반응형 조정 */
    }

    .checkboxes {
        width: 90%; /* 컨테이너 크기에 맞게 반응형 조정 */
        justify-content: space-between;
    }
}

#radarImage {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#timeSlider {
    width: 400px;
    display: block;
    margin: 2.5px auto; /* 슬라이더를 가운데 정렬 및 상하단 마진 2.5px */
    background-color: #333; /* 슬라이더 배경색 */
}

.controls {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5px auto; /* 수평 중앙 정렬 및 상하단 마진 2.5px */
}

.control-btn {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #333; /* 버튼 배경색 */
    color: #ffffff; /* 버튼 텍스트 색상 */
    border: 1px solid #444; /* 버튼 테두리 색상 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    margin: 0 5px; /* 버튼 간의 간격을 줄임 */
}

.control-btn:hover {
    background-color: #444; /* 버튼 호버 효과 */
}

.speed-display {
    font-size: 14px;
    min-width: 80px; /* 스피드 디스플레이의 최소 폭을 설정 */
    text-align: center;
}

.top-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.region-select, .terrain-select {
    background-color: #333; /* 셀렉트 박스 배경색 */
    color: #ffffff; /* 셀렉트 박스 텍스트 색상 */
    border: 1px solid #444; /* 셀렉트 박스 테두리 색상 */
    padding: 5px;
}

.refresh-time {
    color: #cccccc; /* 새로고침 텍스트 색상 */
}

.timestamp, .source {
    margin: 2.5px 0; /* 상하단 마진 2.5px */
}

.checkboxes {
    display: flex;
    flex-direction: row; /* 체크박스를 수평으로 배치 */
    justify-content: space-between; /* 요소 사이의 간격을 설정 */
    width: 300px; /* 체크박스 컨테이너의 폭을 300px로 설정 */
    margin: 2.5px auto; /* 상하단 마진 2.5px */
}

.checkboxes label {
    margin: 0 5px; /* 체크박스 라벨의 좌우 간격을 설정 */
}

.checkboxes input {
    margin-right: 5px;
}

.kma-logo img {
    max-width: 100%;
}
