body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
    font-size: 12px;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}
/* -------------------------------------------------------------- */
.container {
    width: 350px;
    height: auto;
    border: 1px solid #333;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #1e1e1e;
}

@media (max-width: 450px) {
    .container {
        width: 100%;
        height: auto;
        padding: 5px 5px;
    }
}
/* -------------------------------------------------------------- */
.top-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:auto;
    padding-top: 5px;
    padding-bottom: 10px;
}

.region-select {
    background-color: #333;
    color: #ffffff;
    border: 1px solid #444;
    padding: 5px;
    margin-right: 5px;
}

.time-info {
    margin-left: 5px;
    color: #cccccc;
}

.now {
    margin-top: 2px;
}
/* -------------------------------------------------------------- */
#radar-image{
    width: 100%;
    height: auto;
    display: block;
}

.image-time {
    text-align: center;
    margin: 5px 0;
    font-size: 14px; 
    width: 100%; 
}

#time-slider {
    display: block;
    width: 85%; 
    background-color: #333;
    margin: 5 auto;
}
/* -------------------------------------------------------------- */
.buttom-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}

.speed-display {
    border: 1px solid #444;
    border-radius: 5px;
    padding: 0 10px;
    height: 28px;
    line-height: 18px;
    margin: 0 5px;
    color: #ffffff;
    background-color: #333;
    display: flex;
    align-items: center;
}

.speed-btn, .pause-btn {
    height: 28px;
    padding: 0 10px;
    color: #ffffff;
    background-color: #444;
    border: 1px solid #555;
    border-radius: 5px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    white-space: nowrap;
}

.speed-btn:hover, .pause-btn:hover, .grid-btn:hover {
    background-color: #444;
    transform: scale(1.02);
}
.speed-btn:active, .pause-btn:active {
    background-color: #555;
    transform: scale(0.95);
    color: #ffffff; /* Added to revert color after click */
}

/* -------------------------------------------------------------- */
.checkboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin: 5px auto;
}

.checkboxes label {
    display: flex;
    align-items: center;
}

/* -------------------------------------------------------------- */
.button-grid {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grid-input {
    width: 100%;
    height: 28px;
    box-sizing: border-box;
    border: 1px solid #555;
    border-radius: 5px;
    padding-left: 5px
}

.grid-btn {
    padding: 0 10px;
    color: #ffffff;
    background-color: #444;
    border: 1px solid #555;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.grid-btn:hover {
    background-color: #444;
    transform: scale(1.02);
}

.grid-btn:active {
    background-color: #555;
    transform: scale(0.95);
    color: #ffffff; /* Added to revert color after click */
}

.grid-btn.highlight {
    border: 1px solid #ff0000;
}

/* -------------------------------------------------------------- */
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 10px 0;
}

#logo {
    height: 21px;
    border: 1px solid #fff;
}

.resource {
    font-size: 12px;
    color: #ffffff;
}
