/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212; /* 다크모드 배경색 */
    color: #ffffff; /* 기본 텍스트 색상 */
    font-size: 12px; /* 기본 폰트 크기 */
}

.container {
    width: 450px;
    height: 740px; /* 높이 수정 */
    border: 1px solid #333; /* 어두운 색상 테두리 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0 10px; /* 좌우 패딩 추가 */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; /* 상하단 마진을 0으로 설정 */
    background-color: #1e1e1e; /* 컨테이너 배경색 */
}

@media (max-width: 450px) {
    .container {
        width: 100%;
        height: auto;
        padding: 0 10px; /* 컨테이너의 패딩 추가 */
    }

    #radarImage {
        width: 100%;
    }

    #timeSlider {
        width: 100%; /* 슬라이더가 컨테이너 안에 들어가도록 수정 */
    }

    .controls {
        width: 100%; /* 컨테이너 크기에 맞게 반응형 조정 */
    }

    .checkboxes {
        width: 100%; /* 컨테이너 크기에 맞게 반응형 조정 */
        justify-content: space-between;
    }
}

#radarImage {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#timeSlider {
    width: calc(100% - 20px); /* 슬라이더가 컨테이너 안에 들어가도록 수정 */
    display: block;
    margin: 2.5px auto; /* 슬라이더를 가운데 정렬 및 상하단 마진 2.5px */
    background-color: #333; /* 슬라이더 배경색 */
}

.controls {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5px auto; /* 수평 중앙 정렬 및 상하단 마진 2.5px */
}

.control-btn {
    padding: 5px 10px;
    font-size: 12px; /* 버튼 텍스트 크기 */
    cursor: pointer;
    background-color: #333; /* 버튼 배경색 */
    color: #ffffff; /* 버튼 텍스트 색상 */
    border: 1px solid #444; /* 버튼 테두리 색상 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    margin: 0 5px; /* 버튼 간의 간격을 줄임 */
    transition: background-color 0.2s, transform 0.1s; /* 버튼 클릭 시 효과 추가 */
}

.control-btn:hover {
    background-color: #444; /* 버튼 호버 효과 */
}

.control-btn:active {
    background-color: #555; /* 버튼 클릭 시 배경색 변화 */
    transform: scale(0.95); /* 버튼 클릭 시 작아지는 효과 */
}

.speed-display {
    font-size: 12px; /* 스피드 디스플레이의 폰트 크기 */
    min-width: 80px; /* 스피드 디스플레이의 최소 폭을 설정 */
    text-align: center;
    border: 1px solid #444; /* 스피드 디스플레이 테두리 추가 */
    border-radius: 5px; /* 테두리를 둥글게 설정 */
    height: 24.5px; /* 콘텐츠 높이 설정 */
    line-height: 24.5px; /* 텍스트를 가운데 정렬 */
    padding: 2px 0; /* 상하 패딩 2px 추가 */
}

.top-controls {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 중앙 정렬을 위한 설정 */
    width: 100%;
    padding: 2.5px 0; /* 상하 패딩 2.5px로 줄임 */
}

.region-select {
    background-color: #333; /* 셀렉트 박스 배경색 */
    color: #ffffff; /* 셀렉트 박스 텍스트 색상 */
    border: 1px solid #444; /* 셀렉트 박스 테두리 색상 */
    padding: 5px;
    margin-right: 2px; /* 오른쪽 마진 추가 */
}

.refresh-time {
    color: #cccccc; /* 갱신 텍스트 색상 */
}

.now {
    color: #cccccc; /* 현재 시간 텍스트 색상 */
    margin-top: 2px; /* 상단 마진 2px 추가 */
}

.time-info {
    margin-right: 2px; /* 오른쪽 마진 추가 */
}

.source {
    color: #cccccc; /* 새로고침 텍스트 색상과 동일하게 설정 */
    font-size: 12px; /* 폰트 크기 12px */
    padding: 2px; /* 좌측 패딩 2px 추가 */
    text-align: left; /* 왼쪽 정렬 */
    margin-left: 2px; /* 왼쪽 마진 추가 */
}

.timestamp {
    font-size: 16px; /* timestamp 폰트 크기 */
    margin: 2.5px 0; /* 상하단 마진 2.5px */
    text-align: center; /* 가운데 정렬 */
    height: 16px; /* 콘텐츠 높이 설정 */
    padding: 2px 0; /* 상하 패딩 2px 추가 */
}

.checkboxes {
    display: flex;
    flex-direction: row; /* 체크박스를 수평으로 배치 */
    justify-content: space-between; /* 요소 사이의 간격을 설정 */
    width: 300px; /* 체크박스 컨테이너의 폭을 300px로 설정 */
    margin: 2.5px auto; /* 상하단 마진 2.5px */
}

.checkboxes label {
    margin: 0 5px; /* 체크박스 라벨의 좌우 간격을 설정 */
}

.checkboxes input {
    margin-right: 5px;
}

.kma-logo {
    padding-top: 2px; /* 로고 상단에 패딩 2px 추가 */
}

.kma-logo img {
    max-width: 100%;
}
